
*.pdb
*.dll
*.v2
.vs/Commiter/v16/.suo
*.json
*.props
*.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/Commiter.AssemblyInfo.cs
*.cache
obj/Debug/netcoreapp3.1/Commiter.csproj.FileListAbsolute.txt
obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
bin/
obj/
Properties/
Commiter.csproj.user
*.sqlite
*.user
*.config
